*.zip
**/*.zip
ops/.terraform/
ops/debug/
*.terraform
**/*.terraform
actions/eflogger/node_modules
ops/debug
ops/.terraform.lock.hcl
**/*.terraform.lock.hcl
**/terraform.tfstate.d/
**/*.tfstate
**/*.tfstate.backup
**/*.plan
**/*.tfplan
ops/tf.env.sh
ops/scripts/pkr.env.sh
ops/remotestate/frommodule/.terraform/
ops/remotestate/frommodule/.terraform.lock.hcl
ops/remotestate/frommodule/*.zip
remotestate/frommodule/debug/
config.yaml